.vs/
bin/
obj/

# User secrets & local overrides
**/appsettings.*.Local.json
**/appsettings.Development.json
**/secrets.json
**/keys/

# Environment files
.env
.env.*
!.env.example

# Data Protection Keys
**/keys/*.xml
